<div class="standard-form">
  <div class="form-title">
    <p id="creation"><strong>Create a new robot:</strong></p>
      <form action="/robots" method="post">
        <div class="form-border">
          <input type='text' name='robot[name]' placeholder='Name' class="text-boxes"/><br/>
        </div>
        <div class="form-border">
          <input type='text' name='robot[city]' placeholder="City" class="text-boxes"/><br/>
        </div>
        <div class="form-border">
          <input type='text' name='robot[state]' placeholder="State" class="text-boxes"/><br/>
        </div>
        <div class="form-border">
          <input type='text' name='robot[birthdate]' placeholder="Birthdate: mm/dd/yyyy" class="text-boxes"/><br/>
        </div>
        <div class="form-border">
          <input type='text' name='robot[date_hired]' placeholder="Date Hired: mm/dd/yyyy" class="text-boxes"/><br/>
        </div>
        <div class="form-border">
          <input type='text' name='robot[department]' placeholder="Department" class="text-boxes"/>
        </div>
          <button type='submit' class='btn btn-default'>Create Robot</button>
        </form>
  </div>
</div>
